@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('Montserrat-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('Montserrat-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Monserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('Montserrat-Bold.woff2') format('woff2');
}